<H2>All Smell Programs</H2>
<div class="container smell_programs_index">

  <div class="chart-container radial-graph">
    <div id="chart_radial_graph"
             data-overview="<%= @smell_programs_overview.to_json %>"></div>
  </div>
</div>

