<div class="container" id="dashboard">

  <div id="greeting">
    <p>Good evening,  Jim. It’s Wednesday, May 19. Today at a glance:</p>
  </div>

  <div id="quote">
    <p>What’s in a name? That which we call a rose by any other name would smell as sweet.</p>
  </div>

  <div id="dashboard-image">

  </div>

    <div class="d-flex">

    </div>


</div>
