#sec-order-title {
  position: absolute;
  top: 80px;
  left: auto;
}

.order-img {
  display: flex;
  justify-content: center;
  height: 200px;
}

.order-date {
  margin-bottom: 25px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

h4 {
  margin-top: 5px;
}
