// Define variables for your color scheme

// For example:
$red: #CB5339;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: #FFF4ED;
$purple:    #370031;
$success:    #7E846B;
$info:       #F4DBB8;
$red:     #8E0E00;
$warning:    #f9c232;


$text-dark: #210908;

$btn-dark-main: #210908;
$btn-light-main: #eadace;
$btn-dark-submit: #240115;


$color-shadow: rgba(0,0,0,0.7);
