$tile-border-radius: 0px;
$color-shadow: rgba(0,0,0,0.7);

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


#greeting {
  margin-top: 24px;
  text-align: center;
  > p {
  font-size: 16px;
  }
}

.flex-tiles {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}

.current_training {
  width: 100vw;
  position: relative;
}

.training-tile {
  position: relative;
  width: 50%;
  height:150px;
  padding: 24px 24px 4px 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.left {
    margin: 0 1px 0 0;
    &.top {border-radius: $tile-border-radius 0px 0px 0px;}
    &.bottom {border-radius: 0px 0px 0px $tile-border-radius;}
  }

  &.right {
    margin: 0 0 0 1px;
    &.top {border-radius: 0px $tile-border-radius 0px 0px;}
    &.bottom {border-radius: 0px 0px $tile-border-radius 0px;}
  }
}

.program-info {

  }

.program-title {
  color: white;
  text-shadow: 2px 3px 3px $color-shadow;
}

.nr-entries {
  position: absolute;
  top: -8px;
  right: 8px;
  padding: 0;
  margin: 0;
}

.nr-entries > p {
    vertical-align: top;
    text-align: right;
    color: rgba(255,255,255,0.5);
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 32px;
  }


#btn-start-training-session {
  padding: 10px 15px 10px 15px;
}

#btn-start-training-counter {
  padding: 10px 15px 10px 15px;
}

.dashboard-tile-data {
  margin-bottom: 1px;
  margin-top: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  height:26px;
}

.db-strength-data {
  margin: 1px;
  width: 10px;
  // height: 20px;
  background-color: #F4DBB8;
  box-shadow: 2px 2px 2px $color-shadow;
}

.db-accuracy-data {
  margin: 1px;
  width: 10px;
  // height: 20px;
  background-color: #FFC65A;
  box-shadow: 2px 2px 4px $color-shadow;
}

.db-progress-disp-opt {

}

.completed_tile {
  justify-content: space-between;
}

.mt-4 {
    > h3 {
    text-align: center;
  }
}
