.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


#greeting {
  margin-top: 24px;
  text-align: center;
  > p {
  font-size: 16px;
  }
}

#quote {
  position: relative;
  // margin-bottom: 20px;


#quote-content {
  padding: 8px;
  text-align: left;
  justify: true;
  font-size: 14px;

  > p {
    margin: 0;

  }
}

#quote-author {
  text-align: right;
  position: absolute;
  margin: 0;
  right: 0;
  bottom: -10px;
  font-size: 12px;

  > p {
    margin: 0;
  }
}



}
#dashboard_image {

}

.flex-tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}

.current_training {
  width: 100vw;
  position: relative;
}

.training-tile {
  // flex-grow: 1;
  width: 50%;
  height:150px;
  padding: 24px 24px 4px 24px;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 12px;
  color: white;

  h3 {
    color: white
  }

  &.left {
    margin: 0 1px 0 0;
  }

  &.right {
    margin: 0 0 0 1px;
  }
}

.menu-tile {
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: $purple;

  > div {
    flex-grow: 1;
    align-self: center;
  }
}

.menu-tile p {
  color: white;
}

#btn-start-training-session {
  // position: absolute;
  padding: 10px 15px 10px 15px;
  // position: absolute;
  // height: 100px;
  // width: 100px;
  // border-radius: 50%;
  // bottom: 210px;
  // left: 220px;
}

#btn-start-training-counter {
  padding: 10px 15px 10px 15px;
  // position: absolute;
  // height: 100px;
  // width: 100px;
  // border-radius: 50%;
  // bottom: 210px;
  // left: 220px;
}


.strength-data {
  margin: 1px;
  width: 10px;
  // height: 20px;
  background-color: #F4DBB8;
}

.accuracy-data {
  margin: 1px;
  width: 10px;
  // height: 20px;
  background-color: #FFC65A;
}

.nr-entries {
  background-color: #F4DBB8;
  padding: 0;
  margin: 0;
  color: #210908;
  text-align: center;
  height: 25px;
  width: 25px;
  // border: solid;
  // border-color: F4DBB8;
  // border-width: 1px;
  border-radius: 50%;
  > p {
    padding: 0;
    margin: 3px 2px 2px 2px;
  }
}
