$tile-border-radius: 0px;
$color-shadow: rgba(0,0,0,0.7);

h1.test {
  font-family: $headers-font;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


#greeting {
  margin-top: 24px;
  text-align: center;
  > p {
  font-size: 16px;
  }
}

.scrolling-wrapper {
  padding-top: 35px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 35px 24px 16px 24px;

  -webkit-overflow-scrolling: touch;

  .card {
    position: relative;
    display: inline-block;
    margin: 0 8px 0 8px;
    z-index: 1;
    border: none;
    // overflow-y: visible;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.card-image-container {
  position: absolute;
  height: 190px;
  width:200px;
  top:-35px;
  right:-70px;
  z-index: 3;
  transform: rotate(19.2deg);
  background-repeat: no-repeat;
  background-size: contain;
}

.training-card {

  display: flex;
  justify-content: between;
  width: 310px;
  height: 147px;
  padding: 19px;
  border: none;
  overflow: visible;

  .card-title {

    font-stretch: condensed;
    margin: 0 0 16px 0;
    padding: 0;
    font-family: $headers-font;
    font-size: 32px;
    font-family: $headers-font;
    font-size: 28px;
    font-style: lighter;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.01em;
    text-align: left;

  }
  .number {
    font-stretch: condensed;
    font-family: PT Sans;
    font-size: 22px;
    font-style: lighter;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .percentage {
    font-stretch: condensed;
    font-family: PT Sans;
    font-size: 18px;
    font-style: lighter;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .label {
    font-stretch: condensed;
    font-family: PT Sans;
    font-size: 14px;
    font-style: lighter;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}




.flex-tiles {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}

.current_training {
  width: 100vw;
  position: relative;
}

.training-tile {
  position: relative;
  width: 100%;
  height:150px;
  padding: 24px 24px 4px 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.left {
    margin: 0 1px 0 0;
    &.top {border-radius: $tile-border-radius 0px 0px 0px;}
    &.bottom {border-radius: 0px 0px 0px $tile-border-radius;}
  }

  &.right {
    margin: 0 0 0 1px;
    &.top {border-radius: 0px $tile-border-radius 0px 0px;}
    &.bottom {border-radius: 0px 0px $tile-border-radius 0px;}
  }

  .nr-entries {
    position: absolute;
    top: -8px;
    right: 8px;
    padding: 0;
    margin: 0;
  }

  .nr-entries > p {
    vertical-align: top;
    text-align: right;
    color: rgba(255,255,255,0.5);
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 32px;
  }
}

.training-carousel {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 24px 24px 4px 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .nr-entries {
    position: absolute;
    top: 8px;
    right: 24px;
    padding: 0;
    margin: 0;
  }

  .nr-entries > p {
    vertical-align: top;
    text-align: right;
    color: rgba(255,255,255,0.5);
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 48px;
  }

  .chart {
    margin-top: 48px;
    height: 150px;
  }

  a:hover {
    background-color: white;
  }

  .program-title {
  @extend .text-white-text-shadow;
  font-size: 32px;
}


}

.link_tile {
  width: 50%;
}

.completed_tile {
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.program-info {

  }

.program-title {
  @extend .text-white-text-shadow;
}


#btn-start-training-session {
  padding: 15px, 110px, 15px, 110px;
  margin: 0;
  height: 60px;
  border-radius: 0px;
  width: 338px;
  &-narrow {
    padding: 15px, 24px, 15px, 24px;
    width: 38%;
  }
}

#btn-new-training-session {
  padding: 15px, 110px, 15px, 110px;
  height: 60px;
  width: 338px;
  border-radius: 0px;
  margin:0;
  background: $background;
  color: black;
  border: solid;
  border-color: black;
  border-width: 1px;
  &-narrow {
    height: 60px;
    border-radius: 0px;
    margin: 0;
    padding: 15px, 24px, 15px, 24px;
    width: 38%;
  }
}

#btn-start-training-counter {
  padding: 15px, 110px, 15px, 110px;
  margin: 0;
  height: 60px;
  border-radius: 0px;
  width: 338px;
}

#btn-start-training-counter-narrow {
  height: 60px;
  border-radius: 0px;
  margin: 0;
  padding: 15px, 24px, 15px, 24px;
  width: 38%;
}

#btn-train-again {
  padding: 15px, 110px, 15px, 110px;
  margin: 0;
  height: 60px;
  border-radius: 0px;
  width: 338px;
}

#btn-train-agai-narrow {
  height: 60px;
  border-radius: 0px;
  margin: 0;
  padding: 15px, 24px, 15px, 24px;
  width: 38%;
}

.dashboard-tile-data {
  margin-bottom: 1px;
  margin-top: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  height:26px;
}

.db-strength-data {
  margin: 1px;
  width: 10px;
  background-color: #F4DBB8;
  box-shadow: 2px 2px 2px $color-shadow;

  &.strength-good {
    background-color: rgb(141, 195, 30);
  }
}

.db-accuracy-data {
  margin: 1px;
  width: 10px;
  background-color: #FFC65A;
  box-shadow: 2px 2px 4px $color-shadow;

  &.accuracy-good {
    background-color: rgb(150, 150, 15);
  }
}

.db-progress-disp-opt {

}

.mt-4 {
    > h3 {
    text-align: center;
  }
}
