// Specific CSS for your home-page
h2 {
  font-family: 'Keroine TRIAL', 'sans-serif';
  color: #210908;
  display: flex;
  justify-content: center;
}

p, a {
  font-family: 'PT sans', 'sans-serif';
  color: #210908;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.container {
  background: #FFF4ED;
  padding: 30px;
  height: 100vh;
}

.landing-details {
  margin-top: 100px;
}

.landing-btn-1 {
  padding: 15px;
}

.landing-btn-2 {
  padding: 15px;
}

hr {
  border-top: 1.5px solid black;
}

.text-desc {
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  justify-content: left;
  margin: 15px;
  // font-family: 'Roboto', sans-serif;
}

// .landing-desc {
//   width: 50%;
// }
