// Specific CSS for your home-page
.landing-details > h2 {
  display: flex;
  justify-content: center;
}

.landing-desc > p, .landing-btn > a {
  font-family: 'PT sans', 'sans-serif';
  color: #210908;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.landing-container {
  background: #FFF4ED;
  padding: 30px;
  height: 100vh;
}

.landing-details {
  margin-top: 100px;
}

.landing-btn {
  &.btn-1 {
    padding: 15px;
  }
  &.btn-2 {
    padding: 15px;
  }
}

.text-desc {
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  justify-content: left;
  margin: 15px;
  // font-family: 'Roboto', sans-serif;
}

// .landing-desc {
//   width: 50%;
// }
