// Specific CSS for your home-page
.landing-details > h2 {
  display: flex;
  justify-content: center;
}

// .landing-desc > p, .landing-btn > a {
//   font-family: 'PT sans', 'sans-serif';
//   color: #210908;
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   // font-size: 14px;
// }

.landing-container {
  background: #FFF4ED;
  padding: 30px;
  height: 100vh;
}

.landing-details {
  margin-top: 100px;
}

.landing-btn {
  &.btn-1 {
    padding: 15px;
  }
  &.btn-2 {
    padding: 15px;
  }
}

.text-desc-a {
  font-size: 16px;
  // font-weight: bold;
  text-align: left;
  justify-content: left;
  // margin: 15px;
  // font-family: 'Roboto', sans-serif;
}

.text-desc-b {
  font-size: 16px;
  // font-weight: bold;
  // text-align: right;
  // justify-content: right;
  // margin-left: 40px;
}

img {
  object-fit: contain;
  width: 100%;
}

#home-img {
  margin: auto;
  display: block;
}

.landing-btn > a {
  font-family: 'PT sans', 'sans-serif';
  display: flex;
  justify-content: center;
  text-align: center;
  // font-size: 14px;
}

.landing-desc > p {
  font-family: 'PT sans', 'sans-serif';
  color: #210908;
  display: flex;
  justify-content: center;
  // text-align: center;
  // font-size: 14px;
}

.text-desc-p {
  margin: 15px;
  font-size: 12px;
  font-weight: bold;
}

// .landing-desc-a {
//   width: 250px;
// }

.d-flex {
  justify-content: space-around;
  margin-bottom: 10px;
}
