.container-start-training {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  background-color: rgba(0,0,0,0);
  > p, h2, h3 {
    text-align: center;
  }

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-switch-buttons {
  > p, h2, h3 {
    text-align: center;
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-header {
  > h2 {
    text-align: center;
  }
}

// .container-training-image {
//   z-index: -3;
//   width: 100vw;
//   height: 100%;
//   padding: 100px;

//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;

// }
