<h2><%= @smell_program.scent.name.capitalize %> </h2>
<div class="training-img"><%= image_tag @smell_program.image %></div>

<div class="container-counter">
  <div id="starting_chrono">
    <div class="base-timer" style="color: #66CDAA;transform: translateY(170px);">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
        <path
          id="base-timer-path-remaining"
          stroke-dasharray="283"
          class="base-timer__path-remaining ${remainingPathColor}"
          d="
            M 50, 50
            m -45, 0
            a 45,45 0 1,0 90,0
            a 45,45 0 1,0 -90,0
          "
        ></path>
      </g>
    </svg>
    <span id="base-timer-label" class="base-timer__label">20</span>
  </div></div>

  <div id="app"></div>

</div>

<div class="container flex-tiles " id="btn-start-counter">
    <%= link_to "Start", "#", class: 'btn-start-counter', id: "btn-start-training-counter" %>
</div>

<div class="container flex-tiles ">
    <%= link_to "Evaluate", new_smell_program_smell_entry_path(@smell_program), class: 'btn-main', id: "btn-next-training" %>
</div>
