.shop-payment {
  display: flex;
  justify-content: center;
}

#pay {
  margin-top: 80px;
  margin-left: 0px;
}

.h-payment {
  text-align: center;
}

.p-payment {
  margin: 15px;
  text-align: center;
  font-size: 18px;
}
