<div class="footer">
    <div class="container text-center">
      <ul>
        <a href="#"><i class="fab fa-facebook-f mx-2"></i></a>
        <a href="#"><i class="fab fa-twitter mx-2"></i></a>
        <a href="#"><i class="fab fa-instagram mx-2"></i></a>
      </ul>
    </div>
  </div>
