<div class="landing-container d-flex justify-content-center flex-column">
  <div class="landing-details">
    <h2>Anosmiatherapy</h2>
      <hr class="d-solid">
        <!-- <div class="d-flex"> -->
          <div class="landing-desc">
           <p class="text-desc">/aˈnäzmēə, aˈnäsmēə/</br></br>
            The loss of the sense of smell, either total or partial. Treatment intended to relieve or heal a disorder. It may be caused by head injury, infection, or blockage
            of the nose.</p>
          </div>
          <div class="landing-desc">
            <p class="text-desc">/ˈTHerəpē/</br></br>
            Treatment intended to relieve or heal a disorder.</p>
          </div>
        <!-- </div> -->
  <div class="landing-btn-1">
    <a href="#" class="btn-main">Learn more</a>
  </div>
  <div class="landing-btn-2">
    <a href="#" class="btn-main">Login</a>
    <a href="#" class="btn-main">Sign up</a>
   </div>
  </div>
</div>
