<div class="info-details">
  <div class="container">
    <p>Smell training is a supportive technique for people who have suffered smell loss. 
It has been demonstrated in over a dozen scientific studies to be of benefit for people who have lost their sense of smell after a virus or injury. It used to be thought that it was only for people who had some natural recovery already and so could experience some smell messages. Now we know that if people start training immediately after the virus has cleared or the injury has taken place, they can improve their chances of smell recovery. This goes for post-viral and head injury patients.

Think of it as physiotherapy for your nose. Smell training is not a cure, but a way of amplifying your recovery. Every time you do it, you are stimulating the olfactory nerves that help you smell. And this is what encourages them to heal. As Nancy Rawson, cell biologist at the Monell Chemical Senses Center says “Smell training is not a far-fetched notion. It is based on years of learning how the olfactory and nervous systems work, and specifically, how nerve cells — and especially olfactory nerve cells — are generated or maintained.

Through a specifically designed personal smell training course, the app can help give back the ability to smell. Think of it as physiotherapy for your nose. Smell training is not a cure, but a way of amplifying your recovery. Every time you do it, you are stimulating the olfactory nerves that help you smell. And this is what encourages them to heal.</p>
  </div>
</div>
