.btn-main {
  padding: 8px 14px;
  margin: 12px;
  text-align: center;
  font-weight: bold;
  background: #1F1C1B
;
  color: #FFF4ED;
  font-size: 16px;
  box-shadow: 2px 2px lightgrey;
}

a:hover {
  text-decoration: none;
  transition: 0.5s 20%;
  background: $btn-dark-main;
  color: $btn-light-main;
}

.btn-submit {
  padding: 8px 14px;
  margin: 12px;
  text-align: center;
  font-weight: bold;
  background: #1F1C1B;
  color: #FFF4ED;
  font-size: 16px;
  box-shadow: 2px 2px lightgrey;
}


.btn-standard{
  background: #1F1C1B;
  color: $background;
  font-family: $body-font, 'normal';
  height: 60px;
  border-radius: 0px;
  text-align: center;
  vertical-align: center;
  font-size: 24;
  // margin: 8px;
}

.btn-inverse{
  background: $background;
  color: black;

  font-family: $body-font, 'normal';
  height: 60px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 0px;
  text-align: center;
  vertical-align: center;
  // margin: 8px;
}

.full {
    width: 300px;
    padding: 15px 110px 15px 110px;
}

.half {
    width: 40%;
    padding: 15px 24px 15px 24px;
}






.btn-small {
  padding: 8px 16px 8px 16px;
}

.btn-big {

}

.btn-tight {
  padding: 8px 16px 8px 16px;
}

.btn-wide {

}

.btn-start-counter {
  width: 200px;
  padding: 16px 24px;
  margin: 15px;
  text-align: center;
  font-weight: bold;
  border: $btn-dark-main;
  border-width: 5px;
  background: #1F1C1B;
  color: #FFF4ED;
  box-shadow: 0.5px 0.5px 0px 0px $btn-dark-main;
}

.btn-pos-ablolute {
  position: absolute;
  top: 70px;
  left: auto;
  z-index: 5;
}


.btn-disappear {
  display: none;
}

.btn-wait {
  color: rgba(0,0,0,0.5);
  border: none;
  background-color: rgba(0,0,0,0.1);
}

.btn-appear {
  display: block;
}

.btn-home-login {
  padding: 8px 14px;
  margin: 12px;
  text-align: center;
  font-weight: bold;
  background: #1F1C1B;
  color: #FFF4ED;
  font-size: 16px;
  box-shadow: 2px 2px lightgrey;
}

.btn-home-sign {
  padding: 8px 24px;
  margin: 15px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #1F1C1B;
  background: #FFF4ED;
  color: #1F1C1B;
  box-shadow: 2px 2px lightgrey;
}

.btn-home-sign:hover {
  text-decoration: none;
  transition: 0.5s 20%;
  background: #1F1C1B;
  color: $btn-light-main;
}

.btn-new-index {
  padding: 8px 115px;
  background: #1F1C1B;
  color: white;
  font-family: $body-font, 'normal';
}

.btn-new-show {
  padding: 8px 115px;
  background: #1F1C1B;
  color: white;
  font-family: $body-font, 'normal';
}

.btn-dropdown {
  color: black;
  background: $background;
  padding: 5px 10px 5px 10px;
}
