.btn-main {
  margin: 8px 24px;
  border-radius: 7px;
  text-align: center;
  font-weight: bold;
  border-color: #2B2B2B;
  border-width: 2px;
  background: #FCE0CF;
  color: #210908;
}

.btn-submit {
  margin: 8px 24px;
  border-radius: 7px;
  text-align: center;
  font-weight: bold;
  border-color: #black;
  background: #240115;
  color: #FFF4ED;
  drop-shadow: 4px 4px;
  border-width: 2px;
}
