#devise-warning, #devise-info {
  background: #white;
  color: $btn-dark-submit ;
  border:solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
}

.devise-signup {
  position: relative;
}

.form-center {
  margin:auto;
  padding: 0px;
}

.btn-form-submit {
  background-color: #210908;
  color: $background;
}

.devise_container {
  margin: 24px auto;
  .simple_form.new_user {
    width: 300px;
  }
}

input#file_upload_button {
  background: black;
  width: 300px;
}

.devise_image_preview {
  position: absolute;
  bottom: 80px;
  right: 20px;
  background: white;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.devise_image_preview_start {
  position: absolute;
  bottom: 80px;
  right: 20px;
  background: white;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: contain;
}

.devise_image_preview-wrapper {
}

.hide {
  display: hide;
}
