#devise-warning, #devise-info {
  background: #white;
  color: $btn-dark-submit ;
  border:solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
}

.container-sign-up {
  margin: 0px;
  padding: 0px;
  padding-left: 36px;

  > form {
    margin: 0;
    padding: 0;
  }

  .form-inputs {
  }
}

.form-center {
  margin:auto;
  padding: 0px;
}

.btn-form-submit {
  background-color: #210908;
  color: $background;
}

.devise_container {
  margin: 24px auto;
  .simple_form.new_user {
    width: 300px;
  }
}

input#file_upload_button {
  background: black;
  width: 300px;
}

.devise_image_preview {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.hide {
  display: hide;
}
