.modal_format {
  background: $background;
}

.btn-cancel-modal {
  margin: 0;
  padding: 0px 0px 0px 0px;
  height: 45px;
  width: 100px;
}


.btn-dropdown-options {
  border-color: none;
  background: none;
  border: none;
}
