.navbar {
  display: flex;
  justify-content: space-between;
  background: #background;
  margin: 24px 0 0 0;
  padding: 0;
  width: 100vw;
  z-index: 10;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #background;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-title {
  flex-grow: 1;
  text-align: center;
  h3 {
    text-transform: uppercase;
    letter-spacing: 2px;

    font-family: $headers-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.navbar-btn {
  position: absolute;
  top: -5px;
  right: 4px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: auto;
  border: none;
  color: $text-dark;
}

#navbar-separator{
  margin: 0;
}

.dropdown-menu {
  padding: 0;

}
.dropdown-item {
  background: #FFF4ED;

}

.dropdown:hover .dropdown-content {
  display: block;
}
