body {
  background-color: $background;
  color: $text-dark;
}

h2 {
  font-family: 'Keroine TRIAL', 'sans-serif';
  color: $text-dark;
}

h3 {
  font-family: 'Keroine TRIAL', 'sans-serif';
  color: $text-dark;
  font-size: 24px;
}

h4 {
  font-family: 'Keroine TRIAL', 'sans-serif';
  color: $text-dark;
  font-size: 20px;
}

hr {
  border-top: 1.5px solid black;
}

.text-dark {
  color: $text-dark;
}

.text-small {
  font-size: 12px;
}

.mt-32p {
  margin-top: 32px;
}

.mt-64p {
 margin-top: 64px;
}
