body {
  background-color: $background;
  color: $text-dark;
}

h2 {
  font-family: $headers-font;
  color: $text-dark;
}

h3 {
  font-family: $headers-font;
  color: $text-dark;
  font-size: 24px;
}

h4 {
  font-family: $headers-font;
  color: $text-dark;
  font-size: 20px;
}

hr {
  border-top: 1px solid black;
  margin: 4px 0 0 0;
  padding: 0px;
}

.text-dark {
  color: $text-dark;
}

.text-small {
  font-size: 12px;
}

.mt-32p {
  margin-top: 32px;
}

.mt-64p {
 margin-top: 64px;
}

.text-white-text-shadow {
  color: white;
  text-shadow: 2px 3px 3px $color-shadow;
}
