// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Smell Entries
@import "smell_entries/new";
@import "smell_entries/countdown";
@import "smell_entries/show";

// Smell Programs
@import "smell_programs/show";

// products
@import "products/index";
@import "products/show";

// payments
@import "payments/new";

// orders
@import "orders/show";
@import "orders/index";

a:hover {
  text-decoration: none;
}

#body-container {
  overflow: hidden;
}

.hide {
  display: none;
}
