// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Smell Entries
@import "smell_entries/index";


@import "smell_entries/new";
@import "smell_entries/start";
@import "smell_entries/show";

// Smell Programs
@import "smell_programs/show";

// products
@import "products/index";
@import "products/show";

// payments
@import "payments/new";

// orders
@import "orders/show";
@import "orders/index";

.section {
  &-container {
    margin: 56px 0 38px 0;
    position: relative;
  }
  &-category {
    position: absolute;
    top: -10px;
    left: 0px;
    color: #94B3A2;
    font-family: PT Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: left;
    margin: 0px;
  }
  &-title {
    font-family: $headers-font;
  }
}

.scrolling-wrapper {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 24px;
  padding-right: 24px;

  -webkit-overflow-scrolling: touch;

  .card {
    position: relative;
    display: inline-block;
    margin: 0 8px 0 8px;
    z-index: 1;
    border: none;
    // overflow-y: visible;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.card-image-container {
  position: absolute;
  height: 190px;
  width:200px;
  top:-35px;
  right:-70px;
  z-index: 3;
  transform: rotate(19.2deg);
  background-repeat: no-repeat;
  background-size: contain;
}

// .card-image {
//   height: 190px;
//   width: auto;
//   overflow: visible;

// }

.training-card {

  display: flex;
  justify-content: between;
  width: 310px;
  height: 147px;
  padding: 19px;
  border: none;
  overflow: visible;

  .card-title {

    font-stretch: condensed;
    margin: 0 0 16px 0;
    padding: 0;
    font-family: $headers-font;
    font-size: 32px;
    font-style: lighter;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.01em;
    text-align: left;

  }
  .number {
    font-stretch: condensed;
    font-family: PT Sans;
    font-size: 24px;
    font-style: lighter;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .percentage {
    font-stretch: condensed;
    font-family: PT Sans;
    font-size: 18px;
    font-style: lighter;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  .label {
    font-stretch: condensed;
    font-family: PT Sans;
    font-size: 16px;
    font-style: lighter;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
  }
}


