<div class="container">
  <p class="section-category" id="section-title">PRODUCT</p>
  <h2 id="shop-header">Shop</h2>
  <div class="shop-cards">
    <% @products.each do |product| %>
        <div class="card-shop">
          <!-- <div class="card-title"> -->
            <%= link_to product_path(product) do %>
              <%= cl_image_tag product.photo.key, class: "card-img-bottom" %>
            <div class="product-details">
              <h5 class="h5-product"><%= product.name %></h5>
              <p id="product-price"><%= humanized_money_with_symbol(product.price) %></p>
            </div>
            <% end %>
          <!-- </div> -->
        </div>
    <% end %>
  </div>
</div>
