#shop-header {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 40px;
}

.row {
  flex-flow: column;
}

.card-shop {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  // height: 230px;
  position: relative;
}

.card-title {
  font-family: $headers-font;
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .card-body {
//   position: absolute;
//   top: 0px;
//   left: 5px;
// }

.card-price {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: -10px;
  right: 20px;
  font-size: x-large;
}

.card-img {
  // height: 200px;
  position: relative;
}

.card-img-bottom {
  height: 100%;
}

.shop-cards {
  padding: 0px;
}

#section-title {
  position: absolute;
  top: 80px;
  font-size: small;
  left: auto;
}

.product-details {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 63%;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  color: black;
  align-items: center;
  background-color: #ffffff69;

}

.product-details.hover {

}

#product-price {
  font-size: larger;

}
