#shop-header {
  text-align: left;
  margin: 15px;
}

.row {
  flex-flow: column;
}

.card-shop {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  // height: 230px;
}

.card-title {
  font-family: $headers-font;
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .card-body {
//   position: absolute;
//   top: 0px;
//   left: 5px;
// }

.card-price {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: -10px;
  right: 20px;
  font-size: x-large;
}

.card-img {
  height: 200px;
  position: relative;
}

.card-img-bottom {
  height: 100%;
}

.shop-cards {
  padding: 0px;
}




