.p-image {
  display: flex;
  justify-content: center;
}

#show-header {
  text-align: left;
}

.show-button {
  display: flex;
  justify-content: center;
}

.shop-info {
  padding: 20px;
}

h3 {
  margin-bottom: 20px;
}

.btn-new-show {
  margin-left: 35px;
  margin-top: 80px;
}

// .show-text {
//   padding: 10px;
// }

.row {
  margin: auto;
}
